.details__description h3{
    color:  #000;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.details__description__text{
    color: #000;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.details__description__review{
    color:  #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.details__description__review >span{
    color:  #0076CE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.box__inner{
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
}
.btn1{
    border-radius: 10px;
background: #0076CE;
padding: 10px 20px 10px 20px ;
color: white;
}
.btn2{
    border-radius: 10px;
    border: 1.5px solid #0076CE;

padding: 10px 20px 10px 20px ;
color: #0076CE;
}